ion-toolbar {
  background-color: var(--ion-color-mycolor);
}

/* Establece un tamaño fijo para las imágenes en las tarjetas */
ion-card img {
  width: 100%;  /* Asegura que las imágenes ocupen todo el ancho del contenedor */
  height: 200px;  /* Establece una altura fija para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
  border-radius: 8px; /* Añade bordes redondeados a las imágenes (opcional) */
}

/* Puedes personalizar los títulos de las tarjetas */
.card-title {
  font-size: 1.2rem;  /* Tamaño de la fuente */
  font-weight: bold;
  text-align: center;  /* Centra el título */
  padding: 10px;  /* Espaciado alrededor del texto */
}
