ion-content.wishlist-wrapper {
  --background: transparent;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.wishlist-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 65%;
}

.empty-wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.empty-wishlist h2 {
  font-size: 2rem; /* Aumentado tamaño de fuente */
  margin-bottom: 1rem;
}

.empty-wishlist p {
  color: #666;
  font-size: 16px; /* Aumentado tamaño de fuente */
  max-width: 300px;
  margin-bottom: 2rem;
}

.wishlist-icon {
  font-size: 48px; /* Aumentado tamaño del icono */
  margin-bottom: 1rem;
}

.start-shopping-btn {
  --background: #000;
  --color: #fff;
  height: 43px; /* Aumentado tamaño del botón */
  font-size: 15px; /* Aumentado tamaño de fuente */
  margin-bottom: 1rem;
  width: 230px;
}

app-footer {
  margin-top: auto; /* Empuja el footer al fondo */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; /* Asegura que el footer se ajuste a su contenido */
  background-color: #fff; /* Color de fondo del footer */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
