// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-new: #afbfde;
  --ion-color-new-rgb: 175,191,222;
  --ion-color-new-contrast: #000000;
  --ion-color-new-contrast-rgb: 0,0,0;
  --ion-color-new-shade: #9aa8c3;
  --ion-color-new-tint: #b7c5e1;
}



