// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /** mycolor **/
  --ion-color-mycolor: #c1ebec;
  --ion-color-mycolor-rgb: 193,235,236;
  --ion-color-mycolor-contrast: #000000;
  --ion-color-mycolor-contrast-rgb: 0,0,0;
  --ion-color-mycolor-shade: #aacfd0;
  --ion-color-mycolor-tint: #c7edee;
}


