/* Estilo general */
ion-card {
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Contenedor de producto en dos columnas */
.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  gap: 50px;
}

/* Imagen del producto a la izquierda */
.product-image {
  flex: 40%;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Información a la derecha */
.product-info {
  flex: 60%;
  text-align: left;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--ion-color-dark);
}

.product-price {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.product-category {
  font-size: 16px;
  color: grey;
  margin-bottom: 15px;
}

.product-description {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

/* Selección de Tallas */
.size-selection {
  margin-top: 20px;
}

.sizes {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.sizes div {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  background-color: #f8f8f8;
}

.sizes div:hover,
.sizes div.selected {
  background-color: black;
  color: white;
}

/* Botón de añadir a la cesta */
.add-to-cart-container {
  margin-top: 30px;
}

ion-button {
  --background: var(--ion-color-dark);
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  width: 100%;
}

/*
ion-img {
  border-style: solid;
  border-width: 1px;
  border-color: var(--ion-color-light-shade);
}
*/
/*
ion-img {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background: #fff;
}
*/
