<!--
<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <ion-card *ngIf="!isLoading && product" class="product-container">
    <div class="product-details">
      <div class="product-image">
        <ion-img [src]="product.image" alt="{{ product.name }}"></ion-img>
      </div>

      <div class="product-info">
        <h1 class="product-title">{{ product.name }}</h1>
        <p class="product-price">{{ product.price | currency }}</p>
        <p class="product-category">{{ product.category }}</p>
        <p class="product-description">{{ product.description }}</p>

        <div class="size-selection">
          <p><strong>Tallas disponibles:</strong></p>
          <div class="sizes">
            <div *ngFor="let size of product?.sizes"
                 [class.selected]="selectedSize === size"
                 (click)="selectSize(size)">
              {{ size }}
            </div>
          </div>
        </div>

        <div class="add-to-wishlist-container">
          <ion-icon class="favorite-icon" name="heart-sharp" size="large" (click)="addToWishlist()"></ion-icon>
        </div>
      </div>
    </div>
  </ion-card>

  <div *ngIf="!isLoading && !product">
    <p>Producto no encontrado.</p>
  </div>

  <app-footer></app-footer>
</ion-content>
-->

<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <ion-card *ngIf="!isLoading && product" class="product-container">
    <div class="product-details">
      <div class="product-image">
        <ion-img [src]="product.image" alt="{{ product.name }}" ></ion-img>
      </div>

      <div class="product-info">
        <h1 class="product-title">{{ product.name }}</h1>
        <p class="product-price">{{ product.price | currency }}</p>
        <p class="product-category">{{ product.category }}</p>
        <p class="product-description">{{ product.description }}</p>

        <div class="size-selection">
          <p><strong>Tallas disponibles:</strong></p>
          <div class="sizes">
            <div *ngFor="let size of product.sizes"
                 [class.selected]="selectedSize === size"
                 (click)="selectSize(size)">
              {{ size }}
            </div>
          </div>
        </div>

        <div class="add-to-cart-container">
          <ion-icon  class="favorite-icon" name="heart-sharp" size="large"></ion-icon>
          <ion-button expand="full" [disabled]="!selectedSize" class="ion-no-margin">
            Añadir a la cesta
          </ion-button>
        </div>
      </div>
    </div>
  </ion-card>

  <div *ngIf="!isLoading && !product">
    <p>Producto no encontrado.</p>
  </div>

  <app-footer></app-footer>
</ion-content>
