//Contenedor principal
.container {
  margin-top: 5%;  //Reduce el margen superior
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  flex-grow: 1;  //Permite que el contenido crezca y ocupe espacio
}

//Formulario en general
.form-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px;
  margin-bottom: 0px; //Eliminamos casi todo el margen inferior
}

//Ajuste de los inputs
ion-input {
  --background: #f8f8f8;
  --color: #333;
  --placeholder-color: #777;
  --padding-start: 18px;
  font-size: 18px;
  border-radius: 10px;
  padding: 14px;
}

//Botón de acción
ion-button {
  --background: #000;
  --color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  transition: 0.3s;
}

ion-button:hover {
  filter: brightness(0.85);
}

.forgot-password {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  display: block;
  margin-top: 12px;
}

.forgot-password:hover {
  text-decoration: underline;
}

app-footer {
  margin-top: auto;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 0px;
  flex-grow: 1;
}

ion-segment {
  --indicator-color: transparent !important;
  --background: transparent !important;
  --color: #000 !important;

}

ion-segment-button {
  --color: #000 !important;
  --background: transparent !important;
  --border-color: transparent !important;
  --color-checked: var(--ion-color-dark);
}

ion-segment-button.activated {
  --color: #000 !important;
  --background: transparent !important;
}

ion-segment-button:hover {
  --background: transparent !important;
  --color: #000 !important;
}

ion-label {
  color: black;
}

