<ion-header [translucent]="true">
  <app-cabecera></app-cabecera> <!-- Cabecera fija arriba -->
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <!-- Imagen de fondo -->
    <img class="tendencias" src="../../assets/productMarket/decoracion.jpg">

    <!-- Texto centrado sobre la imagen -->
    <div class="texto-bienvenida">Bienvenido a Product Market DL</div>

    <!-- Botón que redirige a la página de productos -->
    <ion-button class="productos-btn principal-btn" (click)="goToProducts()">Ver Productos</ion-button>
  </div>

  <!-- Contenedor para las imágenes a y b en la misma fila -->
  <div class="imagenes-container">
    <div class="imagen-wrapper">
      <img class="imagen" src="../../assets/productMarket/a.jpg">
      <ion-button class="productos-btn">Hombre</ion-button>
    </div>
    <div class="imagen-wrapper">
      <img class="imagen" src="../../assets/productMarket/b.jpg">
      <ion-button class="productos-btn">Mujer</ion-button>
    </div>
  </div>

  <div>
    <img  class="tendencias4" src="../../assets/productMarket/tendencias4.jpg">
  </div>
</ion-content>

<ion-content>
  <app-footer></app-footer>
</ion-content>






<!--
      <div class="form-container" [ngClass]="{'expanded': showAnyForm()}">
        //Formulario de Iniciar sesión
        <div *ngIf="showLoginForm">
          <h3>Iniciar Sesión</h3>
          <ion-input [(ngModel)]="email" type="text" placeholder="Correo Electrónico" clearInput></ion-input>
          <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña" clearInput></ion-input>
          <ion-button expand="full" color="primary" (click)="login()">Iniciar Sesión</ion-button>

          <div class="links">
            <a href="#" (click)="openForgotPassword($event)">¿Olvidaste tu contraseña?</a>
            <a href="#" (click)="openRegister($event)">¿No tienes cuenta? Regístrate</a>
          </div>
        </div>

        //Formulario de Registro
        <div *ngIf="showRegisterForm">
          <h3>Registrar Cuenta</h3>
          <ion-input [(ngModel)]="registerName" type="text" placeholder="Nombre Completo" clearInput></ion-input>
          <ion-input [(ngModel)]="registerEmail" type="text" placeholder="Correo Electrónico" clearInput></ion-input>
          <ion-input [(ngModel)]="registerPassword" type="password" placeholder="Contraseña" clearInput></ion-input>
          <ion-input [(ngModel)]="registerPasswordConfirm" type="password" placeholder="Confirmar Contraseña" clearInput></ion-input>
          <ion-button expand="full" color="primary" (click)="register()">Registrar</ion-button>

          <div class="links">
            <a href="#" (click)="openLogin($event)">¿Ya tienes cuenta? Inicia sesión</a>
          </div>
        </div>

        //Formulario Olvidaste contraseña
        <div *ngIf="showForgotPasswordForm">
          <h3>Recuperar Contraseña</h3>
          <ion-input [(ngModel)]="forgotEmail" type="text" placeholder="Correo Electrónico" clearInput></ion-input>
          <ion-button expand="full" color="primary" (click)="recoverPassword()">Recuperar Contraseña</ion-button>

          <div class="links">
            <a href="#" (click)="openLogin($event)">Volver a Iniciar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
-->
