/* ==== Fondo y estructura principal ==== */
ion-content {
  --background: #f4f4f4; /* Fondo gris claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupar toda la pantalla */
  padding-top: 0;
  position: relative; /* Esto es necesario para poder posicionar el contenedor encima de la imagen */
}

/* ==== Contenedor principal de la página con la imagen como fondo ==== */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Asegura que ocupe toda la altura de la pantalla */
  position: relative; /* Contenedor que tendrá la imagen de fondo */
}

/* Contenedor del contenido sobre la imagen */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 100px; /* Agregar margen superior para separar el contenedor de la parte superior */
  transition: all 0.3s ease;
  position: relative;
  z-index: 2; /* Asegura que el contenedor quede por encima de la imagen */
}

/* Estilo de la imagen de fondo */
.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/productMarket/decoracion.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  opacity: 0.4; /* Ajusta la opacidad para que no opaque el contenido */
  z-index: 1; /* Pone la imagen detrás del contenedor */
}

/* ==== Estilo de la imagen (logo de la tienda) ==== */
.logo {
  width: 300px; /* Aumenta el tamaño de la imagen */
  height: auto;
  margin-bottom: 30px; /* Separa la imagen del texto */
}

/* ==== Estilo del título ==== */
h2 {
  font-size: 36px; /* Aumenta el tamaño del título "Bienvenido" */
  margin-bottom: 30px; /* Más espacio debajo del título */
  color: #333;
  font-weight: 600;
  letter-spacing: 1px;
}

h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

ion-input {
  width: 100%;
  height: 50px; /* Ajustamos la altura para que los inputs no sean tan grandes */
  font-size: 16px;
  margin-bottom: 20px; /* Espacio entre los campos de entrada */
  --padding-start: 16px;
  --padding-end: 16px;
  --border-radius: 10px; /* Bordes redondeados */
  --background: #f7f7f7;
  --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

ion-button {
  width: 100%;
  height: 20px; /* Ajusta el tamaño del botón */
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
